[submodule "build/patched_emscripten"]
	path = build/patched_emscripten
	url = git@github.com:karelbilek/emscripten.git
	branch = implement-more-syscalls-for-standalone
[submodule "build/ghostscript-9.06"]
	path = build/ghostscript-9.06
	url = git@github.com:karelbilek/ghostscript-9.06.git
